        <!-- HEADER: Sticky Nav Bar -->
        <header>
            <nav class="navbar navbar-expand-lg py-2 fixed-top" data-bs-theme="dark">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="/images/noirmak-logo-horizontal.png" alt="Noir Mak" width="159" height="40">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="/#featured">Featured Work</a></li>
                            <li class="nav-item"><a class="nav-link" href="/collection">Collection</a></li>
                            <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/#archive">Archive</a></li>
                            <li class="nav-item"><a class="nav-link" href="/#live-coding">Live Coding</a></li>
                            <li class="nav-item"><a class="nav-link" href="/#shows">Shows</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header><!-- END HEADER -->
