<!DOCTYPE html>
<html>
    <%- include('head', { title: 'New Project | Noir Mak', description: 'A page for a new project.' }) %>
    <body>

        <%- include('header') %>

        <main>
            <div class="container" style="padding-top: 140px;">
                <p>New Project Information</p>
            </div>
        </main>

        <%- include('footer') %>

    </body>
</html>
